.nav-color{
  background: linear-gradient(90deg, rgba(189,244,189,1) 0%, rgba(232,152,152,1) 50%, rgba(242,187,107,1) 97%);
}

.bgfooter{
  
  background: radial-gradient(circle, rgba(250,252,134,1) 80%, rgba(230,244,182,1) 94%, rgba(171,235,242,1) 100%, rgba(247,244,212,1) 100%);
}

.extra{
  background: linear-gradient(214deg, rgba(109,115,248,1) 0%, rgba(252,134,246,1) 42%, rgba(171,235,242,1) 100%, rgba(247,244,212,1) 100%);
}